<template>
  <Input
    v-model="value"
    label="password"
    type="password"
    :error="errorMessage"
  />
</template>

<script>
import Input from '../core/Input.vue'
import FieldValidator from '../core/fieldValidator'
export default {
  components: {
    Input,
  },
  computed: {
    errorMessage() {
      return new FieldValidator('password', this.value)
        .isRequired()
        .isAlphanum()
        .hasLength(8, 32)
        .validate()
    },
    value: {
      get() {
        return this.$store.state.signIn.password
      },
      set(value) {
        this.$store.commit('signIn/updatePassword', value)
      },
    },
  },
}
</script>
