<template>
  <Input v-model="value" label="email" :error="errorMessage" />
</template>

<script>
import Input from '../core/Input.vue'
import FieldValidator from '../core/fieldValidator'
export default {
  components: {
    Input,
  },
  computed: {
    errorMessage() {
      return new FieldValidator('email', this.value)
        .isRequired()
        .isEmail()
        .validate()
    },
    value: {
      get() {
        return this.$store.state.signUp.email
      },
      set(value) {
        this.$store.commit('signUp/updateEmail', value)
      },
    },
  },
}
</script>
