<template>
  <main class="w-full h-screen bg-secondary">
    <section
      class="
        bg-random-image bg-no-repeat bg-cover bg-center
        flex flex-col
        justify-end
        items-center
        h-64
      "
    >
      <div
        class="
          w-32
          h-32
          -m-8
          bg-secondary
          rounded-full
          flex
          items-center
          justify-center
        "
      >
        <img
          :src="`https://avatars.dicebear.com/api/avataaars/${id}.svg`"
          alt="user avatar"
          class="w-11/12 bg-primary rounded-full"
        />
      </div>
    </section>
    <div class="flex flex-col justify-center items-center mt-8 h-24">
      <h1 class="text-3xl font-bold text-white">{{ username }}</h1>
      <span class="text-gray-400">{{ email }}</span>
    </div>
  </main>
</template>

<script>
export default {
  middleware: ['auth'],
  data: () => ({
    email: '',
    username: '',
  }),
  computed: {
    id() {
      return this.$route.params.id
    },
  },
  async beforeCreate() {
    try {
      const id = this.$route.params.id
      const { data } = await this.$store.dispatch('users/getUser', id)
      this.email = data.email
      this.username = data.username
    } catch (error) {
      const { status } = error?.response
      switch (status) {
        case 403:
          this.$router.push('/403')
          break

        case 401:
        case 404:
        default:
          this.$router.push('/404')
          break
      }
    }
  },
}
</script>
