<template>
  <div class="min-h-full w-full bg-rising-pings bg-no-repeat bg-cover bg-center">
    <main
      class="
        container
        w-4/5
        mx-auto
        md:max-w-md
        box-content
        flex flex-col
        justify-center
        items-center
        h-screen
      "
    >
      <img class="h-20 md:h-20 my-8" src="~/assets/pingr-logo.svg" alt="pingr logo" />
      <form
        class="
          container
          flex flex-col
          justify-between
          align-center
          shadow-md
          rounded-lg
          p-4
          my-4
          bg-white
        "
      >
        <Nuxt />
      </form>
    </main>
  </div>
</template>
