<template>
  <div class="min-h-screen w-full bg-secondary flex flex-col items-center">
    <header class="flex flex-row align-top w-full">
      <nuxt-link to="/sign-in" class="m-10">
        <img class="h-16" src="~/assets/pingr-logo.svg" alt="pingr logo" />
      </nuxt-link>
    </header>
    <main
      class="
        container
        mx-auto
        flex flex-col-reverse
        md:flex-row
        items-center
        justify-around
        my-20
      "
    >
      <section class="w-10/12 md:w-2/5 my-8 md:my-0">
        <h1
          class="
            text-4xl
            md:text-6xl
            font-bold
            text-white text-center
            my-4
            md:my-8
          "
        >
          You travelled too far...
        </h1>
        <p class="text-lg md:text-2xl text-center text-gray-200">
          The page you are looking for can’t be found.
        </p>
      </section>
      <img
        class="w-8/12 md:w-2/6 max-h-96"
        src="~/assets/pingr-404.svg"
        alt="a ping passing through a question mark"
      />
    </main>
  </div>
</template>

<script>
export default {}
</script>