<template>
  <div class="flex flex-col justify-evenly p-4">
    <h1 class="text-2xl font-bold text-black text-center mb-8">
      Sign in to Pingr
    </h1>

    <form-error-field :error-message="formError" />

    <input-email />

    <input-password />

    <buttons-container>
      <basic-button @click="clearInput()"> clear </basic-button>
      <basic-button primary @click="registerUser()"> sign-in </basic-button>
    </buttons-container>
    <p class="text-sm text-center m-4">
      Not an user yet?
      <nuxt-link class="text-primary font-medium hover:underline" to="/sign-up"
        >Sign-up now!</nuxt-link
      >
    </p>
  </div>
</template>

<script>
import InputEmail from '../components/sign-in/InputEmail.vue'
import InputPassword from '../components/sign-in/InputPassword.vue'
import BasicButton from '../components/core/Button.vue'
import ButtonsContainer from '../components/core/ButtonsContainer.vue'
import FormErrorField from '../components/core/FormErrorField.vue'
export default {
  components: {
    InputEmail,
    InputPassword,
    BasicButton,
    ButtonsContainer,
    FormErrorField,
  },
  layout: 'form',
  data: () => ({
    formError: '',
  }),
  methods: {
    async registerUser() {
      try {
        this.formError = ''
        const response = await this.$store.dispatch('signIn/loginUser')
        const { accessToken } = response.data
        this.$store.commit('auth/setAccessToken', accessToken)
        const id = this.$store.getters['auth/userId']
        this.$router.push(`/users/${id}`)
      } catch (error) {
        this.formError = error?.response?.data ?? error.message
      }
    },
    clearInput() {
      this.$store.commit('signIn/clear')
    },
  },
}
</script>
