<template>
  <div class="flex flex-col justify-evenly bg-white rounded">
    <h1 class="text-2xl font-bold text-black text-center my-8">
      Sign up to Pingr
    </h1>

    <form-error-field :errorMessage="formError" />

    <input-email />

    <input-password />

    <input-username />

    <buttons-container>
      <basic-button @click="clearInput()"> clear </basic-button>
      <basic-button primary @click="registerUser()"> sign-up </basic-button>
    </buttons-container>
    <p class="text-sm text-center m-4">
      Already an user?
      <nuxt-link class="text-primary font-medium hover:underline" to="/sign-in"
        >Sign-in now!</nuxt-link
      >
    </p>
  </div>
</template>

<script>
import InputUsername from '../components/sign-up/InputUsername.vue'
import InputEmail from '../components/sign-up/InputEmail.vue'
import InputPassword from '../components/sign-up/InputPassword.vue'
import BasicButton from '../components/core/Button.vue'
import ButtonsContainer from '../components/core/ButtonsContainer.vue'
import FormErrorField from '../components/core/FormErrorField.vue'

export default {
  components: {
    InputUsername,
    InputEmail,
    InputPassword,
    BasicButton,
    ButtonsContainer,
    FormErrorField,
  },
  layout: 'form',
  data: () => ({
    formError: '',
  }),
  methods: {
    async registerUser() {
      try {
        this.formError = ''
        const response = await this.$store.dispatch('signUp/registerUser')
        const { accessToken } = response.data
        this.$store.commit('auth/setAccessToken', accessToken)
        const id = this.$store.getters['auth/userId']
        this.$router.push(`/users/${id}`)
      } catch (error) {
        this.formError = error?.response?.data ?? error.message
      }
    },
    clearInput() {
      this.$store.commit('signUp/clear')
    },
  },
}
</script>
