<template>
  <button
    class="rounded-lg w-full h-12 m-1"
    :class="{
      'bg-neutral': !primary,
      'bg-gradient-to-b from-primary via-primary to-primary hover:to-primary-light  text-white font-medium':
        primary,
    }"
    @click.stop.prevent="handleClick()"
  >
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    primary: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleClick() {
      this.$emit('click')
    },
  },
}
</script>
