<template>
  <span v-if="errorMessage.length !== 0" class="text-error text-center my-4">
    {{ errorMessage }}. Please, try again.
  </span>
</template>

<script>
export default {
  props: {
    errorMessage: {
      type: String,
      required: true,
    },
  },
}
</script>
