<template>
  <div class="flex flex-col box-border m-1">
    <label :for="name" class="text-gray-800">
      {{ label }}
    </label>
    <div class="flex flex-col items-center">
      <input
        :id="name"
        v-model="model"
        :type="type"
        :name="name"
        :class="{ 'border-error focus:border-error': !isValid, 'bg-error-light': !isValid }"
        class="border border-gray-200 bg-gray-50 focus:border-gray-800 focus:outline-none rounded-lg p-3 w-full m-1"
        @blur="hasChanged = true"
      />
      <div class="min-h-5">
        <span
          v-if="!isValid"
          class="text-sm text-error text-l inline-block w-full"
        >
          {{ error }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: 'text',
    },
    value: {
      type: String,
      required: true,
    },
    error: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      hasChanged: false,
    }
  },
  computed: {
    name() {
      return this.label.toLowerCase()
    },
    model: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
    isValid() {
      return this.error.length === 0 || !this.hasChanged
    },
  },
}
</script>
